#start{
    display: grid;
    grid-gap: 1vmax;
    color: purple;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    justify-self: center;
}

input{
    float: right;
}

matrix{
    display: grid;
    justify-self: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

table{
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;
}

td{
    height: 30px;
    width: 60px;
}

.fas{
    justify-self: center;
}

.one{
    color: blue;
}

.two{
    color: red;
}

.coin{
    color: yellow;
}

.wall{
    background-color: orange;
}

.scores-container{
    display: grid;
    display: inline-block;
}

#p1{
    color: blue;
    float: left;
}

#p2{
    color: red;
    float: right;
}

button{
    background-color:cadetblue;
}

#winner{
    display: grid;
    grid-gap: 1vmax;
    color: purple;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    justify-self: center;
}